.roadmap{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.roadmap p {
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--dark-blue);
}

.point{
    padding: .5rem 2rem;
    background-color: transparent;
    border: 1px solid var(--light-blue);
    border-radius: 12px;
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    background-color: var(--dark-blue);
    cursor: pointer;
}

