.roadmap{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    overflow: auto;
}

.roadmap p {
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--dark-blue);
}

.point{
    padding: .5rem 2rem;
    background-color: transparent;
    border-radius: 12px;
    color: var(--text);
    border: 1px solid var(--light-blue);
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: .5rem;
    background-color: var(--dark-blue);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.point:hover{
    transform: scale(105%);
}

.finished{
    border: 1px solid var(--confirm-green)
}

