.roadmap{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.roadmap p {
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--dark-blue);
}

.point{
    padding: 1rem;
}





