.addpointmodal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(90%, 600px, 90vw);
    visibility: hidden;
    border-radius: 20px;
    z-index: 2;
    opacity: 0;
    transition: .3s ease-in-out;
    border: 1px solid var(--light-blue);
    display: flex;
    flex-direction: column;
}

.addpointmodal__header{
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    background-color:var(--dark-blue);
}

.addpointmodal__header button{
    padding: .5rem;
    background-color: var(--light-blue);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
}

.addpointmodal__content{
    padding: 1rem;
    background-color: var(--background-blue);
    flex: 1;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form{
    display: flex;
    background-color: var(--dark-blue);
    padding: 1rem;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}

.form input{
    padding: .6rem;
    border: 1px solid var(--light-blue);
    border-radius: 10px;
}

.buttons{
    display: flex;
    padding: 0rem 0rem 1rem 0;
    gap: 1rem;
    overflow-x: auto;
}

.buttons input{
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--light-blue);
    cursor: pointer;
}

.timesection{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.timesection__header{
    padding: 1rem 2rem;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.timesection__buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.timesection__buttons button{
    background-color: var(--light-blue);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.timesection__buttons div{
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
}

.confirm{
    padding: 2rem;
    border-radius: 10px;
    border: none;
    background-color: var(--confirm-green);
    cursor: pointer;
}

.visible{
    visibility: visible;
    opacity: 1;
}




