.pointconfiguration{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(90%, 800px, 90vw);
    max-height: 80vh;
    border-radius: 20px;
    z-index: 2;
    border: 1px solid var(--light-blue);
    background-color: var(--background-blue); 
    display: flex;
    flex-direction: column;
}

.pointconfiguration__header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color:var(--dark-blue);
    border-radius: 20px 20px 0 0;
}

.pointconfiguration__header button{
    padding: .5rem;
    background-color: var(--light-blue);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: var(--text);
}

.pointconfiguration__content{
    overflow-y: auto;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 1rem;
    gap: 1rem;
}

.midpoints p{
    text-align: center;
}

.configuration{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.configuration__edit{
    background-color:var(--dark-blue);
    display: flex;
    padding: .75rem;
    border-radius: 12px;
}

.finished{
    background-color:var(--confirm-green);
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container p {
    background-color: transparent;
}

.configuration__edit button {
    background-color: var(--light-blue);
    border: none;
    border-radius: 12px;
    width: 50%;
    padding: .5rem;
    cursor: pointer;
    color: var(--text);
}

.configuration__edit p{
    width: 50%;
    text-align: center;
}

.configuration__add{
    background-color: var(--confirm-green);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    padding: 2rem;
    color: var(--text);
}

.configuration__delete{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 12px;
    cursor: pointer;
    padding: 2rem;
    color: var(--text);
}

.configuration__close{
    background-color: var(--light-blue);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    padding: 2rem;
    color: var(--text);
}






