.pointconfiguration{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(90%, 800px, 90vw);
    border-radius: 20px;
    z-index: 2;
    border: 1px solid var(--light-blue);
    background-color: var(--background-blue); 
    display: flex;
    flex-direction: column;
}

.pointconfiguration__header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color:var(--dark-blue);
    border-radius: 20px 20px 0 0;
}

.pointconfiguration__header button{
    padding: .5rem;
    background-color: var(--light-blue);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.pointconfiguration__content{
    flex: 1;
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

@media (max-width: 600px) {
    .pointconfiguration__content{
        flex-direction: column;
    }
}

.midpoints p{
    text-align: center;
    padding: .5rem;
}

.configuration{
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;
    gap: 1rem;
}

.configuration__edit{
    background-color:var(--dark-blue);
    display: flex;
    padding: .75rem;
    border-radius: 12px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.configuration__edit button {
    background-color: var(--light-blue);
    border: none;
    border-radius: 12px;
    width: 50%;
    padding: .5rem;
    cursor: pointer;
}

.configuration__edit p{
    width: 50%;
    text-align: center;
}


.configuration__add{
    background-color: var(--confirm-green);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    padding: 2rem;
}

.configuration__delete{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 12px;
    cursor: pointer;
    padding: 2rem;
}

.configuration__close{
    background-color: var(--light-blue);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    padding: 2rem;
}




