.button{
    padding: 1rem;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border: 2px solid var(--dark-purple);
}

.button:hover{
    border: 2px solid var(--dark-white);
    transition: .2s ease-in-out;
}

