.main {
  background-color: var(--dark);
  padding: 5rem 0;
}

.main__container {
  max-width: 1200px;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
