.point{
    padding: 1rem;
    /* border-radius: 15px;
    border: 1px solid var(--light-blue);
    background-color: var(--dark-blue); */
    display: flex;
    background-color: green;
}

button{
    padding: 1rem;
    background-color: red;
}

