.deletebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--light-blue);
    color: var(--text);
    transition: .3s ease-in-out;
}

.deletebutton:hover{
    transform: scale(105%);
}
