:root{
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --text: rgba(255, 255, 255);
  --light-blue: rgb(102,42,237);
  --dark-blue: rgb(26, 34, 36);
  --background-blue: rgb(14,18,19);
  --confirm-green: rgb(55,137,55);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  display: flex;
	flex-direction: column;
	height: 100vh;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-blue);
  color: var(--text)
}

::-webkit-scrollbar {
	width: 3px;
	background-color: var(--dark-blue);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--light-blue);
	border: 0;
	border-radius: 5px;
}








