:root{
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --text: rgba(255, 255, 255);
  --light-blue: rgb(37,107,237);
  --dark-blue: rgb(23,34,54);
  --background-blue: rgb(12,22,45);
  --confirm-green: rgb(55,137,55);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: black;
  color: var(--text)
}

::-webkit-scrollbar {
	width: 3px;
	background-color: var(--dark-blue);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--light-blue);
	border: 0;
	border-radius: 5px;
}








