*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(14,18,18);
    color: white;
}

input{
    background-color: transparent;
    border: 3px solid blueviolet;
    width: 10rem;
    height: 2rem;
    color: white;
}


